@font-face {
    font-family: HelveticaNeue-Medium;
    font-weight: normal;
    src: url('/fonts/HelveticaNeue-Medium.otf') format('opentype');
}

#menu-header {
    z-index: 3;
    
    position: fixed;
    top: 2%;
    left: 50%;
    transform: translate(-50%, 0%);
    
    display: flex;
    justify-content: space-between;
    
    padding: .8rem;
    border-radius: 2rem;
    background-color: #394c568f;
    backdrop-filter: blur(10px);
}

#menu-header > a {
    font-family: HelveticaNeue-Medium;
    font-size: 1.2rem;
    color: #ffffff;
    margin: 0 1.5rem;
}
