@font-face {
    font-family: HelveticaNeue-Regular;
    font-weight: bold;
    src: url('../../../public/fonts/HelveticaNeue-Regular.otf') format('opentype');
}

#menu-button {
    font-size: medium;
    background: none;
    cursor: pointer;
    position: fixed;
    z-index: 4;
    top: 4%;
    left: 3vw;
    padding: .5rem .9rem .5rem .9em;
    border-radius: 2rem;
    color: rgb(89, 89, 89);
    font-family: HelveticaNeue-Regular;
    border-style: solid;
    border-width: .05rem;
    background-color: #fbf9f0;
}