@font-face {
    font-family: BNHarroldBold;
    font-weight: bold;
    src: url('../../../public/fonts/BNHarroldBold.otf') format('opentype');
}

#menu-header {
    z-index: 3;
    top: 1%;
    position: fixed;
    width: 100%;
    max-width: 100rem;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    padding-left: 1%;
    padding-right: 1%;
    left: 50%;
    transform: translate(-50%, 0%);
    font-family: BNHarroldBold;
    color: #525252bd;
  }
