@font-face {
    font-family: NueueHelvetica-Regular;
    font-weight: normal;
    src: url('/fonts/HelveticaNeue-Regular.otf') format('opentype');
}

#ascii-flower-container {
    position: absolute;
    z-index: 1;
    height: 100vh;
    width: 100%;
}

#welcome-page {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #f5f7f8;
    justify-content: space-between;
}

#welcome-text-div {
    display: flex;
    flex-direction: column;
    background-color: #f5f7f8;
    border-radius: 1.2rem;
    padding: 1.5rem;
    margin-left: 3%;
    border-style: solid;
    border-color: #5d5b5f;
    border-width: .2rem;
}

.welcome-name {
    color: #5d5b5f;
    font-family: NueueHelvetica-Regular;
    margin-top: .3rem;
    font-size: 4rem;
}

#welcome-text-div > .description {
    font-family: NueueHelvetica-Regular;
    color: #5d5b5f;
    font-size: 1.3rem;
    margin-top: 2rem;
}