@font-face {
    font-family: BNHarroldBold;
    font-weight: bold;
    src: url('../../public/fonts/BNHarroldBold.otf') format('opentype');
}

#welcome-page {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #fafbf0;
    justify-content: space-between;
}

#welcome-text-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 2rem;
}

#welcome-name {
    font-size: 6rem;
    font-weight: 700;
    color: #5e855f;
    font-family: BNHarroldBold;
}

#welcome-text {
    font-size: 2rem;
    color: #525252;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}