/* 

container route {
    size
    position type
    z-index
    position logic
    display logic
    visual style
    font style
}

*/

@font-face {
    font-family: NueueHelvetica-Regular;
    font-weight: normal;
    src: url('/fonts/HelveticaNeue-Regular.otf') format('opentype');
}

#ascii-flower-container {
    height: 100vh;
    width: 100%;

    position: fixed;
    z-index: 0;
}

#welcome-section {
    height: 98vh;
    width: 100%;
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    
    background-color: #f5f7f8;
}

#welcome-section p {
    font-family: NueueHelvetica-Regular;
    font-size: 1.3rem;
}

#welcome-text-div {
    position: relative;

    z-index: 2;

    left: 3vw;
    
    display: flex;
    flex-direction: column;

    background-color: #f5f7f8;    
    padding: 1.5rem;
    border-radius: 1.2rem;
    border-style: solid;
    border-color: #4b494d;
    border-width: .2rem;
}

.welcome-name {
    color: #4b494d;
    margin-top: .3rem;
    
    font-family: NueueHelvetica-Regular;
    font-size: 4rem;
}

#welcome-text-div > .description {
    color: #4b494d;
    margin-top: 2rem;
}

/* ---------------- continued section ---------------- */

#continued-section {
    position: relative;
    
    z-index: 2;

    width: 100%;

    padding-left: 7vw;
    padding-right: 7vw;
    padding-bottom: 7vw;
    background-color: #f5f7f8;
}

#about-container p, #tutorials-container p, #tutorials-container li {
    font-family: NueueHelvetica-Regular;
    color: #4b494d;
    font-size: 1.3rem;
}


#border-div {
    width: 100%;

    position: relative;
    
    z-index: 2;
    
    height: 2.3rem;
    background-color: #4b494d;
}

.section-header {
    font-family: NueueHelvetica-Regular;
    color: #4b494d;
    font-size: 2.2rem;
    margin-top: 7rem;
    margin-bottom: 2rem;
}

/* ---------------- about section ---------------- */

#about-container {
    display: flex;
    flex-direction: column;
}

#profile-links-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    margin-top: 1rem;

    font-family: NueueHelvetica-Regular;
    font-size: 1.3rem;
    color: #4b494d;
}

#profile-links-container > a {
    border-style: solid;
    border-color: #4b494d;
    border-width: .2rem;
    border-radius: 1.2rem;
    padding: .5rem;
    margin-top: 1rem;
    margin-right: 1rem;
}

/* ---------------- projects section ---------------- */
#projects-container-flex {
    display: flex;
    flex-direction: row;
}

#project-links-container {
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    margin-left: 5vw;
}

/* ---------------- tutorials section ---------------- */

#tutorials-container {
    width: 100%;
    
    display: flex;
    justify-content: space-between;
}

#tutorials-text-container {
    margin-right: 5vw;
}

#tutorials-container ul {
    margin: 5vh;
}

#tutorials-container ul > li {
    margin-top: 2vh;
}