#flower {
  position: absolute;
  right: 0;
  overflow: auto;
  white-space: nowrap;
  font-size: 0.75rem;
}

#flower > * {
  font-family: var(--font-mono);
  white-space: pre-wrap;
  margin: 0;
  padding: 0;
}
