#container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

#container > * {
  font-family: var(--font-mono);
  white-space: pre-wrap;
  margin: 0;
  padding: 0;
  display: block;
  align-self: flex-start;

}

.flower {
  right: 0;
  overflow: auto;
  white-space: nowrap;
  font-size: 0.75rem;
}

#flower > * {
  font-family: var(--font-mono);
  white-space: pre-wrap;
  margin: 0;
  padding: 0;
}
